body{
    background: whitesmoke;
    font-family: sans-serif;
}

.mainContainer{
    background: white;
    width: 90%;
    display: block;
    margin: 5em auto 0;
    padding: 2em;
    box-shadow: 0px 2px 1px rgba(0,0,0,.3);
    height: 700px;
}

.title{
    color: #3e3e3e;
    font-weight: lighter;
}

.title > h1{
    margin: 0;
}

.title > h1, .title >.icon{
    display: inline-block;
}

.icon{
    width: 15px;
    height: 15px;
    background: aqua;
    border-radius: 100%;
}


.controlsContainer .controls{
    width: 100%;
    margin-top: 1em;
}

.controlsContainer .controls label{
    display: block;
}

.controlsContainer .controls input{
    display: block;
    width: 97%;
    padding: .5em;
}

.message{
    font-style: italic;
    text-transform: lowercase;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

#loader{
    width: 70px;
    display: block;
    margin: 1em auto 0;
}
