<div class="mainContainer">
    <div class="title">
        <i class="icon"></i>
        <h1 class="title">Github</h1>
    </div>

    <div class="controlsContainer">

        <div class="controls">
            <label for="search">Search</label>
            <input type="text" id="search" placeholder="type project name" name="projectName" ng-model="projectName"/>
            <button ng-disabled="loadingData" ng-click="search()">Go</button>
        </div>

        <p class="message" ng-if="message !== null">{{message}}</p>

        <img id="loader" src="images/loader.gif" alt="loading" ng-if="loadingData"/>

        <div class="results">
            <projects-list projects="projects"></projects-list>
        </div>

    </div>


</div>