<div class="modalCont">

    <p ng-if="$ctrl.project === null">No project selected.</p>

    <div class="info" ng-if="$ctrl.project !== null">
        <div class="title">
            <h3 class="name">{{$ctrl.project.name}}</h3>
            <a target="_blank" href="{{$ctrl.project.downloads_url}}">{{$ctrl.project.downloads_url}}</a>
            <small>{{$ctrl.project.created_at}}</small>
        </div>

        <div class="content">
            <p>Description: {{$ctrl.project.description}}</p>
            <div class="forks">
                <span>Forks: {{$ctrl.project.forks}}</span>
            </div>
        </div>

        <div class="comments">
            <div class="comment" ng-repeat="comment in comments"></div>
        </div>
    </div>
</div>