.projectsContainer{
    margin-top: 1em;
    width: 100%;
}

.projects, project-info{
    width: 48%;
    display: inline-block;
    float: left;
}

.projects{
    height: 500px;
    overflow-y: scroll;
    border: 1px solid lightgray;
    padding: 1em;
}


.project{
    border-bottom: 1px solid #afd1e4;
    margin: .5em 0;
    background: aliceblue;
    height: 20px;
    user-select: none;
}

.project:hover{
    opacity: .5;
    cursor: pointer;
}
.project:active{
    opacity: 1;
}

.project > i {
    width: 20px;
    height: 20px;
    background: #bbdcff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
}

.project > p {
    margin: 0;
    display: inline-block;
    line-height: 20px;
    font-style: italic;
    font-family: sans-serif;
    color: #313131;
}