<div class="projectsContainer" ng-if="$ctrl.projects.length > 0">

    <div class="projects">
        <div class="project" ng-repeat="project in $ctrl.projects" ng-click="showInfo(project)">
            <i> > </i>
            <p>{{project.name}}</p>
        </div>
    </div>

    <project-info project="selectedProject"></project-info>

</div>
